<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            Contact
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>Let's get in touch</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            If you would like to contact me and discuss things in more detail, feel free to use the form below to
            send me a message.
            <ion-list>
                <ion-item>
                    <ion-label position="floating">Name</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Message</ion-label>
                    <ion-textarea rows="5"></ion-textarea>
                </ion-item>
            </ion-list>
            <ion-button expand="block">Send message</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
