<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar color="primary">
            <ion-title size="large">Home</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card class="home-card">
        <img src="/assets/images/shapes.svg" alt=""/>
        <ion-card-header>
            <ion-card-subtitle>Subtitle</ion-card-subtitle>
            <ion-card-title>Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac
            lectus.
        </ion-card-content>
    </ion-card>
</ion-content>
